{% extends "blog/base.html" %}

{% block title %}ISSA BLOG{% endblock %}

{% block content %}
    <div id="content">
        <p class="welcome_text">Welcome to my personal blog</p>
        <p class="home_text">I created this simple blog so that I can publish and share news about <br/>
            new technologies that are being used or will be used<br/>
            In the field of electronics and computers in general and in<br/>
            programming and programming languages in particular<br/>
            Where you can read all the <b>"Posts"</b> I add on the posts page<br/>
            I hope you like my blog and thanks for visiting</p>
    </div>
{% endblock %}