*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
    background-color: rgb(50, 181, 137);
}
.navbar a{
    margin-top: 20px;
    margin-left: 50px;
}
.navbar h1{
    
    display: inline;
    color: white;
}
.navbar .links_list{
    margin-right: 40px;
    list-style: none;
    display: inline-block;
}
.navbar .links_list .link{
    margin-top: 20px;
    margin-right: 20px;
    display: inline-block;
}
.navbar .links_list .link a{
    color: white;
    font-size: 22px;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    text-align: center;
}
.welcome_text{
    margin-bottom: 20px;
    font-size: 36px;
    color: rgb(18, 115, 212);
   
}
.home_text{
    font-size: 22px;
    
}

/*  posts page style */
.posts_page_title{
    margin-top: 40px;
    margin-left: 50px;
}
#posts_contener{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.post{
    width: 400px;
    min-height: 150px;
    background-color: whitesmoke;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 10px;
}
.post h2 a{
    color: rgb(18, 115, 212);
}
.post h2 a:hover{
    color: rgb(50, 181, 137);
}

/* detail page style */
.post_data{
    padding-left: 50px;
    text-align: center;
    margin-top: 40px;
}
.post_data h2{
    margin-bottom: 20px;
    color: rgb(18, 115, 212);
}
.data b{
    font-size: 20px;
}
.comment_form{
    margin-left: 50px;
}
.user_name_input input{
    padding-left: 5px;
    padding-top: 5px;
}
.comment_input textarea{
    width: 80%;
    padding-left: 5px;
    padding-top: 5px;
}
.add_comment{
    background-color: rgb(18, 115, 212);
    padding: 5px;
    color: white;
    border-radius: 20px;
}
.comments_box{
    margin-left: 50px;
}
.comment{
    margin-top: 30px;
    width: 80%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
}